name: CI
on:
  workflow_dispatch:
    inputs:
      publishSnapshot:
        description: "Publish Snapshot"
        required: false
        default: false
        type: boolean
      publishMicrosite:
        description: "Publish Microsite"
        required: false
        default: false
        type: boolean
  push:
    branches: ["scheduled-job"]
  # schedule:
  #   - cron: "*/5 * * * *"


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: "echo running"

  release:
    runs-on: ubuntu-latest
    name: Release
    if: startsWith(github.ref, 'refs/tags/v') || github.event_name == 'schedule' || github.event.inputs.publishSnapshot
    steps:
      - run: 'echo "Releasing now!"'
